/* Base Application Styles */
body {
  color: #111;
  background: #fbfaf3;
  background: -moz-radial-gradient(center, ellipse cover, #fbfaf3 0%, #e1e1d9 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #fbfaf3 0%,#e1e1d9 100%);
  background: radial-gradient(ellipse at center, #fbfaf3 0%,#e1e1d9 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfaf3', endColorstr='#e1e1d9',GradientType=1 );
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}
