.canvas-component {
  width: 500px;
  border: 1px dashed #f00;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.canvas-component::after {
  content: "";
  clear: both;
  display: table;
}
