.motor-component {
  width: 88px;
  height: 88px;
  margin: 5px;
  float: left;
  position: relative;
  border-radius: 45px;
  .debug {
    border: 1px dashed #7F7F7F;
  }
}

.motor-component .axis {
  width: 8px;
  height: 70px;
  background-color: black;
  margin: 10px auto;
}

.motor-component .pin {
  position: absolute;
  font-size: 8px;
  font-weight: bold;
  color: white;
  min-width: 8px;
  text-align: center;
  border-radius: 2px;
  display: none;
  .debug {
    display: block
  }
}

.pin.on {
  background-color: #c12d2d;
}

.pin.off {
  background-color: #3f3fa0;
}

.motor-component .pin.pin4 {
  top: 50%;
  left: -4px;
  margin-top: -4px;
}

.motor-component .pin.pin3 {
  top: 50%;
  right: -4px;
  margin-top: -4px;
}

.motor-component .pin.pin2 {
  bottom: -4px;
  left: 50%;
  margin-left: -4px;
}

.motor-component .pin.pin1 {
  top: -4px;
  left: 50%;
  margin-left: -4px;
}

.axis {
  -webkit-transition: 50ms linear;
  -moz-transition: 50ms linear;
  -o-transition: 50ms linear;
  transition: 50ms linear;
}

.motor-component .axis {
  background: black;

  -webkit-box-shadow: 0px 0px 2px 1px rgba(168,168,168,1);
  -moz-box-shadow: 0px 0px 2px 1px rgba(168,168,168,1);
  box-shadow: 0px 0px 2px 1px rgba(168,168,168,1);

  .debug {
    background: -moz-linear-gradient(top, #c12d2d 0%, #000000 20%, #000000 80%, #3f3fa0 100%);
    background: -webkit-linear-gradient(top, #c12d2d 0%, #000000 20%, #000000 80%, #3f3fa0 100%);
    background: linear-gradient(to bottom, #c12d2d 0%, #000000 20%, #000000 80%, #3f3fa0 100%);
  }
}
