.motor-component {
  border: 1px dashed #f00;
  width: 88px;
  height: 88px;
  background-color: #FFF;
  background-color: rgba(127, 127, 127, 0.05);
  margin: 5px;
  float: left;
  position: relative;
  border-radius: 45px;
}

.motor-component .axis {
  width: 8px;
  height: 70px;
  background-color: black;
  margin: 10px auto;
}

.motor-component .pin {
  position: absolute;
  font-size: 8px;
  font-weight: bold;
  color: white;
  min-width: 8px;
  text-align: center;
  border-radius: 2px;
}

.pin.on {
  background-color: #c12d2d;
}

.pin.off {
  background-color: #3f3fa0;
}

.motor-component .pin.pin4 {
  top: 50%;
  left: 0;
  margin-top: -4px;
}

.motor-component .pin.pin3 {
  top: 50%;
  right: 0;
  margin-top: -4px;
}

.motor-component .pin.pin2 {
  bottom: 0;
  left: 50%;
  margin-left: -4px;
}

.motor-component .pin.pin1 {
  top: 0;
  left: 50%;
  margin-left: -4px;
}

.axis {
  -webkit-transition: 50ms linear;
  -moz-transition: 50ms linear;
  -o-transition: 50ms linear;
  transition: 50ms linear;
}

.motor-component .axis {
  background: black;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(red, black, blue);
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(red, black, blue);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(red, black, blue);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(red, black, blue);
  /* Standard syntax */
}
